 <footer>
    <div class="container">
        <p jhiTranslate="footer.title">&copy; ShowerIO 2018. All Rights Reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#" jhiTranslate="footer.privacy">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#" jhiTranslate="footer.terms">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#" jhiTranslate="footer.faq">FAQ</a>
            </li>
        </ul>
    </div>
</footer>
