// Styling for the footer
footer {
    padding: 13px 0;
    text-align: center;
    color: fade-out(white, 0.7);
    background-color: #222222;
    color: rgba(255, 255, 255, 0.3);
    width: 100%;
    position: absolute;
    p {
        font-size: 16px;
        margin: 0;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 12px;
                color: fade-out(white, 0.7);
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                }
            }
        }
    }
}
