<section class="masterhead">
    <div class="row">
        <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
                <h1 class="mb-5" jhiTranslate="home.introduction.banner">ShowerIO is a device capable of controlling
                    your shower through an app, provinding you confort, sustentability and saving money!</h1>
                <div class="howItWorks">
                    <a href="#download" class="btnStart btn-outline btn-xl" jhiTranslate="home.introduction.button">How
                        does it works?</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="device-container">
                <div class="device-mockup iphone6_plus portrait white">
                    <div class="device">
                        <div class="screen">
                            <img src="../../content/images/showerIoAppScreen.jpeg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="download bg-primary text-center" id="download">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 class="section-heading" jhiTranslate="home.download.bannerHigh">Discover all the power of this system!</h2>
            <p jhiTranslate="home.download.bannerLow">Our app is available on any mobile device! Install ShowerIO and download the app now!</p>
            <div class="badges">
                <a class="badge-link" href="#"><img src="../../content/images/google-play-badge.svg" alt=""></a>
                <a class="badge-link" href="#"><img src="../../content/images/app-store-badge.svg" alt=""></a>
            </div>
        </div>
    </div>
</section>
<section class="contact bg-primary" id="contact">
    <div class="container">
        <h2>We
            <fa-icon [icon]="'heart'"></fa-icon>
            new friends!</h2>
        <ul class="list-inline list-social">
            <li class="list-inline-item social-twitter">
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item social-facebook">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item social-google-plus">
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
        </ul>
    </div>
</section>


<div class="features" id="features">


</div>
