/* ==========================================================================
Main page styles
========================================================================== */

@import 'device-mockups/device-mockups.css';
@import '~font-awesome/css/font-awesome.css';

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/hipster.png') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/hipster2x.png') no-repeat center top;
        background-size: contain;
    }
}

.device-container {
    max-width: 270px;
    margin-right: auto;
    margin-left: auto;
}

.masterhead {
    position: relative;
    width: 100%;
    height: 70%;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #fff;
    background: url('../../content/images/Blue-Pattern-Background.jpg') no-repeat;
}

.bg-primary {
    background: #fdcc52;
    background: -webkit-linear-gradient(#fdcc52, #fdc539);
    background: linear-gradient(#fdcc52, #fdc539);
}

.my-auto {
    margin-bottom: auto !important;
    margin-top: auto !important;
}

.header-content {
    margin-bottom: 0;
    text-align: left;
    max-width: 500px;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.btn-outline {
    color: #fff;
    border: 1px solid;
    border-color: #fff;
}

.btnStart {
    border-radius: 300px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn-xl {
    font-size: 11px;
    padding: 15px 45px;
}

.howItWorks a:hover {
    background: #c2b400;
    color: #222222;
    text-decoration: none;
    border-color: #222222;
}

section.download {
    position: relative;
    padding: 150px 0;
}

section.download h2 {
    font-size: 50px;
    margin-top: 0;
}

section.download .badges .badge-link {
    display: block;
    margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
    margin-bottom: 0;
}

section.download .badges .badge-link img {
    height: 60px;
}

@media (min-width: 768px) {
    section.download .badges .badge-link {
        display: inline-block;
        margin-bottom: 0;
    }
}

section.contact {
    text-align: center;
}

section.contact h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

section.contact h2 i {
    color: #dd4b39;
}

section.contact ul.list-social {
    margin-bottom: 0;
}

section.contact ul.list-social li a {
    font-size: 40px;
    line-height: 80px;
    display: block;
    width: 80px;
    height: 80px;
    color: white;
    border-radius: 100%;
}

.contacts {
    padding-top: 10px;
    padding-bottom: 10px;
}

section.contact ul.list-social li.social-twitter a {
    background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
    background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
    background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
    background-color: #344e86;
}

section.contact ul.list-social li.social-google-plus a {
    background-color: #dd4b39;
}

section.contact ul.list-social li.social-google-plus a:hover {
    background-color: #d73925;
}
