<div class="masterhead">
    <div class="row">
        <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
                <h1 class="mb-5" jhiTranslate="home.introduction.banner">ShowerIO is a device capable of controlling your shower through an app, provinding you confort, sustentability and saving money!</h1>
                <a href="#download" class="btnStart btn-outline btn-xl js-scroll-trigger" jhiTranslate="home.introduction.button">How does it works?</a>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="device-container">
                <div class="device-mockup iphone6_plus portrait white">
                    <div class="device">
                        <div class="screen">
                            <img src="../../content/images/showerIoAppScreen.jpeg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="download bg-primary text-center" id="download">

</div>


<div class="features" id="features">


</div>
